.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;

  .logo {
    width: 150px;
  }

  .tabs {
    display: flex;
    margin-right: -10px;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
      padding: 8px 16px;
      font-size: 18px;
      font-weight: 500;
      height: 80px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: rgb(228, 231, 233);
      }
    }

    .active {
      background-color: #F7F8FB;
      font-weight: bold;
    }
  }

  .control {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: black;
    }

    .user {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
